{% extends "public/base.html" %}
{% block title_html %}
 All Projects
{% endblock %}
{% block h1 %}
 {{ bloc.super }}Companies Projects
{% endblock %}
{% block article_content %}
 {% if all_projects|length > 0 %}

 {% for project in all_projects %}
<div class="container">

            <div class="col-sm-12">

                <div class="bs-calltoaction bs-calltoaction-default">
                    <div class="row">
                        <div class="col-md-9 cta-contents">

                            <h1 class="cta-title">{{ project.id }}</h1>
                            <div class="cta-desc">

                                <h5>{{ project.title }}</h5>
                                <p>{{project.description}}</p>
                                <p>For: {{project.client_name}}</p>
                            </div>
                        </div>
                        <div class="col-md-3 cta-button">
                            <a href="project_detail/{{project.id}}" class="btn btn-lg btn-block btn-default">See Detail</a>
                        </div>
                     </div>
                </div>



            </div>
        </div>
 {% endfor %}

 {% else %}
    <span>No projects found.</span>

 {% endif %}
{% endblock %}
