<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<html>
 <head>
 <title>
 {% block title_html %}{% endblock %}
 </title>
 </head>
 <body>
 <h1>
 PM+ Manager - {% block h1 %}{% endblock %}
 </h1>
 <hr />
 <article>
 {% block article_content %}{% endblock %}
 </article>
 </body>
</html>
