{% extends "public/base.html" %}
{% block title_html %}
 All Projects
{% endblock %}
{% block h1 %}
 {{ bloc.super }}Companies Projects
{% endblock %}
{% block article_content %}

<div class="container">
	<br>  <p class="text-center">Detail view for <a href="http://bootstrap-ecommerce.com/"> {{ project.id }}</a></p>
<hr>


<div class="card">
	<div class="row">
		<aside class="col-sm-5 border-right">
<article class="gallery-wrap">
<div class="img-big-wrap">
  <div> <a href="#"><img src="https://s9.postimg.org/tupxkvfj3/image.jpg"></a></div>
</div> <!-- slider-product.// -->

</article> <!-- gallery-wrap .end// -->
		</aside>
		<aside class="col-sm-7">
<article class="card-body p-5">
	<h3 class="title mb-3">{{project.title}}</h3>

<p class="price-detail-wrap">
	<span class="price h3 text-warning">
		<span class="currency">US $</span><span class="num">1299</span>
	</span>
	<span>/per kg</span>
</p> <!-- price-detail-wrap .// -->
<dl class="item-property">
  <dt>Description</dt>
  <dd><p>{{project.description}}</p></dd>
</dl>
<dl class="param param-feature">
  <dt>clientName#</dt>
  <dd>{{project.client_name}}</dd>
</dl>  <!-- item-property-hor .// -->

<hr>
	<div class="row">
		<div class="col-sm-5">

		</div> <!-- col.// -->
		<div class="col-sm-7">

		</div> <!-- col.// -->
	</div> <!-- row.// -->
	<hr>
	<a href="../project_update/{{project.id}}" class="btn btn-lg btn-primary text-uppercase"> Edit </a>
	<a href="../project_delete/{{project.id}}" class="btn btn-lg btn-outline-primary text-uppercase"> <i class="fas fa-delete"></i> Delete </a>
</article> <!-- card-body.// -->
		</aside> <!-- col.// -->
	</div> <!-- row.// -->
</div> <!-- card.// -->


</div>
<!--container.//-->
{% endblock %}
