{% extends "public/base.html" %}
{% block title_html %}
 Current Project
{% endblock %}
{% block h1 %}
 {{ bloc.super }}Companies Projects
{% endblock %}
{% block article_content %}

<div class="container">
     <a href="../create_project">Create New Project</a>
    <div class="row">
		<form role="form" class="col-md-9 go-right" method="post" action="../project_update/{{project.id}}">
      {% csrf_token %}
      {% if error %}
         <h5>{{error}}</h5>
      {% endif %}
			<h2>Project form</h2>
            <p>Update a new project.</p>
			<div class="form-group">
			<input id="name" name="title" type="text" class="form-control" required value="{{project.title}}">
			<label for="name">Project Title</label>
		</div>
		<div class="form-group">
			<input id="phone" name="client_name" type="tel" class="form-control" required value="{{project.client_name}}">
			<label for="phone">Client Name</label>
		</div>
		<div class="form-group">
			<textarea id="message" name="description" class="form-control" required> {{project.description}}</textarea>
			<label for="message">Description</label>
		</div>

    <input type="submit" value="Update" />
		</form>

</div>
{% endblock %}
